<a href="https://colab.research.google.com/github/mcc2397/BTE-320-In-Class-Assignment-/blob/main/BTE_320_In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sales = float(input("Enter sales ($): "))
print(f"Sales: ${sales}")
rate = float(input("Enter tax rate (%): "))

# Cost of Goods Sold
cog = 0.4
cog_sold = sales * cog
print(f"Cog: ${cog_sold}")

# Gross profit
grossProfit = sales - (cog * sales)
print(f"Gross profit: ${grossProfit}")

# Taxes
taxes = (rate / 100) * grossProfit
print(f"Taxes: ${taxes}")

# Net Income
net_income = grossProfit - taxes
print(f"Net Income: ${net_income}")

Enter sales ($): 12000
Sales: $12000.0
Enter tax rate (%): 30
Cog: $4800.0
Gross profit: $7200.0
Taxes: $2160.0
Net Income: $5040.0

In [ ]:
#Inputs: demand, reorder cost, and holding cost
demand = int(input("Enter Demand (units/year): "))

reorder = float(input("Enter reorder cost ($/unit): "))


holding = float(input("Enter holding cost ($/unit/year): "))

# Process: Calculate EOQ
EOQ = (2 * demand * reorder / holding) ** 0.5

# Output: Display EOQ Value
print(f"EOQ = {EOQ} units")

Enter Demand (units/year): 100
Enter reorder cost ($/unit): 1.5
Enter holding cost ($/unit/year): 3
EOQ = 10.0 units

In [ ]:
num1 = float(input("First number: "))
num2 = float(input("Second number: "))
op = input ("Choose numerical operator (+, -, *, /, //, **, %): ")

if op == "+":
    print(f"{num1} + {num2} = {num1 + num2}")
elif op == "-":
    print(f"{num1} - {num2} = {num1 - num2}")
elif op == "*":
    print(f"{num1} * {num2} = {num1 * num2}")
elif op == "/":
    print(f"{num1} / {num2} = {num1 / num2}")
elif op == "//":
    print(f"{num1} // {num2} = {num1 // num2}")
elif op == "**":
    print(f"{num1} ** {num2} = {num1 ** num2}")
elif op == "%":
    print(f"{num1} mod {num2} = {num1 % num2}")
else:
    print("Invalid operator")

First number: 8
Second number: 5
Choose numerical operator (+, -, *, /, //, **, %): #
Invalid operator

In [ ]:
print("# of hours\tFee")
print("--------------------")
for hours in range(1,9):
  fee = 5 + hours * 2.5
  if fee < 10:
    fee = 10.0
    print(f"{hours}\t\t{fee}")
  elif fee > 20:
    fee = 20.0
    print(f"{hours}\t\t{fee}")
  else:
    print(f"{hours}\t\t{fee}")

# of hours	Fee
--------------------
1		10.0
2		10.0
3		12.5
4		15.0
5		17.5
6		20.0
7		20.0
8		20.0

In [26]:
numbers = []
num = float(input("Enter a number: "))

while num !=0:
  numbers.append(num)
  num = float(input("Enter another number: "))

  numbers.sort(reverse=True)
  print(numbers)

Enter a number: 8
Enter another number: 9
[8.0]
Enter another number: 3
[9.0, 8.0]
Enter another number: 4
[9.0, 8.0, 3.0]
Enter another number: 0
[9.0, 8.0, 4.0, 3.0]

In [27]:
min(numbers)

3.0

In [28]:
sum(numbers)

24.0

In [29]:
sum(numbers)/len(numbers)

6.0